


<div class="ui menu ">
  <div class="header item">
    <div>
      <!--<h3 class="nameStyle">Ben Conrad</h3><h5 class="nameStyle"> Final Project </h5>-->
      <h3 class="nameStyle">Ben Conrad</h3>
    </div>
  </div>
    <a [routerLink]="['/login']" class="item navLink activeNav ">Login</a>
    <a [routerLink]="['/home']" class="navLink item ">Home</a>
    <a [routerLink]="['/settings']" class="item navLink ">Settings</a>


   <div class="right item clock">
      <i class="calendar icon"></i>
      <div class="item">{{time}}</div>
   </div>
    <a class="item" (click)='logout()'>Logout</a>
</div>


<div id="content" style="height:90%">
    <div class="container container-fluid" style="height:100%">
      <app-chatbox></app-chatbox>
      <router-outlet></router-outlet>
    </div>
</div>
