.image_patch{
    width:25px;
    height:25px;
    z-index:1;
}


.tableFooter{
    margin-bottom: 50px;
   
}

.table{
    margin-bottom:50px;
    min-width:1000px;
}
.dataContainer{
    min-width:1000px;

}

.addLaunchContainer{
 
    width: 55%;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    border:1px solid;
    border-color:#cecece;
  

}

.splitView{
        margin-bottom: 50px;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(2.5);
    z-index:2;
}

.buttonFilter{
    background-color: #005288;
    color:White;
    min-width:150px;
}

.buttonFilter:hover{
    background-color: #00395f;
    color:white;
}


.buttonData{
    width:150px;
    background-color:white;
    border: 1px solid;
    border-color: #EEEEEE;
    color:black;
}

.buttonData:hover{
    background-color: #EEEEEE;
    color:black;
}

.dataInactive{
    display:none;
}

.filterInput{
    margin-left:5px;
    margin-right:5px;
    width:150px;
}

/*Summary Section*/

.missionPatch{
    width:100px;
    top:20px;
}

.dataTable{
    min-width:500px;
}

.videoContainer{
    margin:10px;
}

.headerText{
    text-align:Center;
    font-family: 'Roboto', sans-serif;
}

.imageContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}

.outerAddLaunch{
    display:flex; 
    align-items:center; 
    height:100%; 
  
}

.innerLaunchContainer{
    width:90%;
}

.content{
    margin-bottom:15px;
}