
<div class="middle aligned center dataContainer" *ngIf="!addLaunch">
<div class="ui middle aligned center splitView"  >
  <div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui">
         
        <div class="ui buttons">
          <button class="ui button  btnSummary {{summaryView === true ? 'buttonFilter' : 'buttonData'}} " (click)="hideData()">Summary</button>
          <button class="ui button  btnData {{dataView === true ? 'buttonFilter' : 'buttonData'}}" (click)="hideSummary()">Data</button>
        </div>
        </div>
    </div>
  </div>
</div>
</div>


<!-- MAIN DATA CLASS -->
<div class="dataView" *ngIf="dataView && !addLaunch">
<div class="middle aligned center dataContainer" >
<div class="ui middle aligned center"  >
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <form class="ui large form">
        <div class="ui segment segment2">

          <div class=" three wide fields">
              <div class=" field">
                <label>Year</label>
                <input type="text" name="year" maxlength="4" placeholder="Year" [(ngModel)]="filterYear">
              </div>
              <div class="field">
                <label>Rocket</label>
                <input type="text" name="rocket" maxlength="10" placeholder="Rocket" [(ngModel)]="filterRocket">
              </div>
              <div class="field">
                <label>Customer</label>
                <input type="text" name="customer"  placeholder="Customer" [(ngModel)]="filterCustomer">
              </div>
          </div>
              <div class="ui medium  button buttonFilter componentBtn" (click)="filter()"><i class="minus square outline icon"></i>Filter</div>
              <div class="ui medium  button buttonFilter componentBtn" (click)="clearFilter()"><i class="refresh icon"></i>Clear</div>
              <div class="ui medium button buttonFilter componentBtn" (click)="showLaunch()"><i class="plus icon"></i>Add Launch</div>
        </div>
        <div class="ui error message"></div>
      </form>
    </div>
  </div>
</div>

<table class="ui striped table sortable" id="dataTable">
  <thead>
    <tr>
      <th></th>
      <th>Flight #</th>
      <th>Year</th>
      <th>Date</th>
      <th>Launch</th>
      <th>Landing</th>
      <th>Rocket Name</th>
      <th>Rocket Type</th>
      <th>Payload</th>
      <th>Payload Size</th>
      <th>Customer/s</th>
  </tr></thead>
  <tbody *ngFor="let e of launchesArray" >
    <tr>
      <td><img src="{{e.mission_patch}}" class="image_patch hvr-grow"></td>
      <td>{{e.flight_number}}</td>
      <td>{{e.launch_year}}</td>
      <td>{{e.launch_date}}</td>
      <td>{{e.launch_success}}</td>
      <td>{{e.launch_land}}
      <td>{{e.rocket_name}}</td>
      <td>{{e.rocket_type}}</td>
      <td>{{e.payload_type}}</td>
      <td>{{e.payload_mass_lbs}} lbs</td>
      <td>{{e.payload_customer}}</td>
      
    </tr>

  </tbody>
  <tfoot class="tableFooter">
     <tr><th colspan="11"></th></tr>
  </tfoot>
</table >

</div>
</div>







 
           




<!--SUMMARY CLASS -->

<div class="dataView" *ngIf="summaryView  && !addLaunch">

<div class="ui middle aligned center videoContainer"  >
  <div class="ui middle aligned center aligned grid">
  <div class="ui segment segment2" >
     <form class="ui large form">
          <h2 class="headerText">
            Featured Launch -- Launch #{{summary.flightNum}}
          </h2>
          
            <div class="ui form">
              <div class="message">
              <iframe width="880" height="495" [src]="getSummary.video" 
              frameborder="0" ></iframe>
            </div>
          </div>
          </form>
      </div>
    </div>
    </div>





<div class="middle aligned center dataContainer" >
<div class="ui middle aligned center"  >
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <form class="ui large form">
        <div class="ui segment segment2" >
      
          <div class="row">
              <div class="col-md-2 imageContainer">
                <img src="{{getSummary.missionPatch}}" class="missionPatch"/>
              </div>
              <div class="col-md-10">
                <table class="ui definition table dataTable">
                    <tbody>
                      <tr>
                        <td class="two wide column">Year</td>
                        <td>{{getSummary.year}}</td>
                      </tr>
                      <tr>
                        <td>Date</td>
                        <td>{{getSummary.launchDate}}</td>
                      </tr>
                      <tr>
                        <td>Customers</td>
                        <td>{{getSummary.customer}}</td>
                      </tr>
                      <tr>
                        <td>Payload</td>
                        <td>{{getSummary.payload}}</td>
                      </tr>
                      <tr>
                        <td>Article</td>
                        <td><a [href]="summary.article">Article Link</a></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
        </div>
        <div class="ui error message"></div>
      </form>
    </div>
  </div>
</div>
</div>
</div>


<!--Add Launch -->
<div class="outerAddLaunch" *ngIf="getAddLaunch">
<div class=" ui middle aligned center aligned grid addLaunchContainer">
  <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2 " style="text-align:right"><i class="remove icon hvr-grow" (click)="showLaunch()"></i></div>
      
  </div>
         <div class="content">
          <h2 class="text"> Add Launch </h2>
        </div>
  <div class="ui middle aligned center aligned grid row">
    <div class="col-md-12">
 
      <form class="ui large form ">
        <div class="ui segment segment2 ">

          <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Flight Number" [(ngModel)]="flightNumber"  name="flightNumber">
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Launch Year"  [(ngModel)]="launchYear" name="launchYear">
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Launch Date - MM/DD/YYYY"  [(ngModel)]="launchDate" name="launchDate">
            </div>
          </div>
          
          <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Rocket Id"  [(ngModel)]="rocketId" name="rocketId">
            </div>
          </div>

       <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Rocket Name"  [(ngModel)]="rocketName" name="rocketName">
            </div>
          </div>

       <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Rocket Type"  [(ngModel)]="rocketType" name="rocketType">
            </div>
          </div>
       <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Launch Site"  [(ngModel)]="launchSite" name="launchSite">
            </div>
          </div>
       <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Payload Type"  [(ngModel)]="payloadType" name="payloadType">
            </div>
          </div>
       <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Payload Customer"  [(ngModel)]="payloadCustomer" name="payloadCustomer">
            </div>
          </div>
        <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Payload Mass"  [(ngModel)]="payloadMass" name="payloadMass">
            </div>
          </div> 
        <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Launch Success"  [(ngModel)]="launchSuccess" name="launchSuccess">
            </div>
          </div>
        <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Launch Land"  [(ngModel)]="launchLand" name="launchLand">
            </div>
          </div>
        <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Mission Patch Link"  [(ngModel)]="missionPatch" name="missionPatch">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Mission Video Link"  [(ngModel)]="missionVideo" name="missionVideo">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Mission Article"  [(ngModel)]="missionArticle" name="missionArticle">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Details"  [(ngModel)]="details" name="details">
            </div>
          </div>
          <div class="ui fluid small submit button componentBtn buttonFilter" (click)="databaseLaunch()">Add Launch</div>
        </div>
        <div class="ui message errorContainer"> Error Logging In</div>
      </form>
    </div>
  </div>
</div>
</div>

