.image_patch{
    width:25px;
    height:25px;
    z-index:1;
}


.tableFooter{
    margin-bottom: 50px;
   
}

.table{
    margin-bottom:50px;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(2.5);
    z-index:2;
}