<table class="ui striped table" id="dataTable">
  <thead>
    <tr>
      <th></th>
      <th>Flight #</th>
      <th>Year</th>
      <th>Date</th>
      <th>Launch</th>
      <th>Landing</th>
      <th>Rocket Name</th>
      <th>Rocket Type</th>
      <th>Payload</th>
      <th>Payload Size</th>
      <th>Customer/s</th>
  </tr></thead>
  <tbody *ngFor="let e of launches | async" >
    <tr>
      <td><img src="{{e.mission_patch}}" class="image_patch hvr-grow"></td>
      <td>{{e.flight_number}}</td>
      <td>{{e.launch_year}}</td>
      <td>{{e.launch_date}}</td>
      <td>{{e.launch_success}}</td>
      <td>{{e.launch_land}}
      <td>{{e.rocket_name}}</td>
      <td>{{e.rocket_type}}</td>
      <td>{{e.payload_type}}</td>
      <td>{{e.payload_mass_lbs}} lbs</td>
      <td>{{e.payload_customer}}</td>
      
    </tr>

  </tbody>
  <tfoot class="tableFooter">
     <tr><th colspan="11"></th></tr>
  </tfoot>
</table >


