<div class="container"  *ngIf="loggedIn()" style="z-index:10">
    <div class="row chat col-xs-5 col-md-3" style="margin-left:10px;">
        <div class="col-xs-12 col-md-12">
        	<div class="chatContainer panel-default">
                <div class="panel-heading topBar">
                    <div class="row">
                        <div class="col-md-6">
                          <h3 class="panel-title"><i class="comments icon"></i> Chat</h3>
                        </div>
                        <div class="col-md-6 collapseIcon">
                          <button type="button" class="btn btn-default btn-circle test" (click)="showChat()"><i [ngClass]="{'angle down icon': !chatHidden , 'angle up icon':chatHidden}"></i></button>
                        </div>
                    </div>
             
                </div>
                <div class="hideChat" [ngClass]="{'hideBox' : chatHidden}">
                  <div class="panel-body messageContainer">
                      <div class="row messageContainerInner {{c.userNumber === 1 ? 'base_sent1': 'base_sent2'}}" *ngFor="let c of chatHistory">
                          <div class="col-md-10 col-xs-10 message">
                              <div class="messages sent">
                                  <pre><p>{{c.text}}</p></pre>
                                  <time>{{c.user}} • {{c.date}}</time>
                              </div>
                          </div>
                      </div>      
              
                  </div>
                  <div class="panel-footer">
                      <div class="input-group">
                          <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write Message..." [(ngModel)]="message"/>
                          <span class="input-group-btn">
                          <button class="btn btn-primary btn-sm send overlayVideo" (click)="sendMessage()">Send</button>
                          </span>
                      </div>
                  </div>
                </div>
    		</div>
        </div>
    </div>
</div>